.wrapper {
  height: 900px !important;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}
.border-radius{
  border-radius: 0.25rem;
  border: 1px solid rgba(0,0,0,.125);;
}